@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
  }

  body {
    background: #081b29;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

.logo {
    font-size: 36px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    text-align: left;
}

.navbar a {
    font-size: 27px;
    color: #ededed;
    text-decoration: dotted;
    margin-left: 100px;
    transition: .3s;
    
}

.navbar a:hover {
    color: #00abf0;
}

.right {
    text-align: right;
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    color: #ededed;
    padding: 0 6%;
    
}

.home-content h1 {
    font-size: 60px;
}

.home-content h3 {
    font-size: 38px;
    color: #00abf0;
}

.home-content p {
    font-size: 20px;
    max-width: 500px;
    margin: 20px 0 40px;
    line-height: 1;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 470px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 230px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover {
    color:#00abf0
}

.btn-box a:hover::before {
    width: 100%;
}

.a {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0;
    float: right;
    align-items: center;
    text-align: center;
    margin-top: 305px;
    margin-right: 100px;
    border: 7px solid #00abf0;
    border-radius: 40px;
}